<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- html imports -->
    <link rel="import" href="importme.html" id="importme">
    <!-- html imports -->
    <!-- Component - Module JS -->
    <script src="./component.js"></script>
    <script src="./links.js"></script>
    <!-- Component - Module JS -->
    <title>Web Components</title>
</head>
<body>


    <links-component></links-component>
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>

    <button onclick="showImport()">Show import</button>
    <script>
        function showImport() {
            $link = document.getElementById(importme);
            const content = $link.import.querySelector('#template');
            // IMPORT
            // IMPORT
            document.body.appendChild(content.cloneNode(true));
        }
    </script>
    
</body>
</html>